<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Edit User</title>
</head>
<body>
<h2>Edit User</h2>

<form th:action="@{/admin/users/update}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Username: </label>
    <input type="text" th:field="*{username}"/>
    <br/>
    <label>Password: </label>
    <input type="text" th:field="*{password}"/>
    <br/>
    <label>Name: </label>
    <input type="text" th:field="*{name}" />
    <br/>
    <label>Surname: </label>
    <input type="text" th:field="*{surname}" />
    <br/>
    <button type="submit">Save Changes</button>
</form>
<form th:action="@{/admin/users/delete}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}" />
    <button type="submit">Delete User</button>
</form>
<br/>
<a th:href="@{/logout}">Logout</a>
</body>
</html>