<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<br>
<a> To change user info or delete it click on user data</a>
<table border="1" >
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Password</th>
        <th>Name</th>
        <th>Surname</th>
    </tr>
    <tr th:each ="user : ${users}">
        <td> <a th:color="black" th:href ="@{/admin/users(id=${user?.id})}" th:utext="${user?.id}"></a> </td>
        <td> <a th:color="black" th:href ="@{/admin/users(id=${user?.id})}" th:utext="${user?.username}"></a> </td>
        <td> <a th:color="black" th:href ="@{/admin/users(id=${user?.id})}" th:utext="${user?.password}"></a> </td>
        <td> <a th:color="black" th:href ="@{/admin/users(id=${user?.id})}" th:utext="${user?.name}"></a> </td>
        <td> <a th:color="black" th:href ="@{/admin/users(id=${user?.id})}" th:utext="${user?.surname}"></a> </td>
    </tr>
</table>
<form th:method="GET" th:action="@{/admin/users/add}">
    <input type="submit" value="add user">
</form>
<br/>
<a th:href="@{/logout}">Logout</a>
</body>
</html>